
chromadb_hustlergpt_openai_dr/chroma-collections.parquet
chromadb_hustlergpt_openai_dr/chroma-embeddings.parquet
chromadb_hustlergpt_openai_dr/index/id_to_uuid_00bf7a47-e663-433f-8c68-329a9c9f5945.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_0f3c2c9c-1984-4a46-a349-e44bbd3839ba.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_1e38e148-014d-4954-bc9a-4a91cfbb31e8.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_2219a1e5-803b-4f73-8f64-5b76b9437c8c.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_2234ae21-a3ba-461b-9d4c-0981ebffe8b9.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_23a7c9bf-2f84-4bea-aa5c-73ceb3d8e259.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_3ad46cc3-2766-410c-b612-09e2987aa05a.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_3d8ca961-e655-422a-89bc-20b6e6219c82.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_4c4191db-7604-461d-b3a4-28549ee448d9.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_53b4a55e-bec5-4350-a044-d402e41e6180.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_57127af6-0d78-4214-97fa-02f1665e4024.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_616cae8b-cea8-439c-ad5d-7914f8376e17.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_620ed7ce-be76-446e-8326-e916306436f3.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_67e59183-a53d-4306-885b-ba2a05a60a99.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_6ee501ec-9386-4bf8-b243-aec8b1a4610f.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_893db68a-852c-4a1f-84ea-34380264ffb7.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_8c953230-4277-47cf-a6f1-1052201aea63.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_9fc8cebf-6458-4d63-88c4-2020ec6e01c3.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_a6e573fc-78eb-4840-8333-2b50bf98613d.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_aae6eed5-b013-48c5-a30e-8ee3552dfa55.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_ac1e910a-29dd-4946-a86d-5906e89a5b20.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_af93adb5-994e-4c95-a89d-f540e1547447.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_b6a7c831-0b1e-4a76-8966-a43ac43c3da0.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_b8043179-3fb8-47d8-8861-1aeec7973f65.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_b95373df-6514-4515-b9f3-72cc4820b591.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_bf79e0ff-2d0f-4519-8c28-ef3af7339c46.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_c111bcd3-59e8-4f33-abb0-ba7ab229b4e4.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_c9bf9038-f368-4bef-8b04-8d4ee95b2b12.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_cd8fee6c-ff15-4e30-84cd-98c0ce84b469.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_d44d3b07-bba6-4c87-ad11-ab5e5094c96b.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_da49c886-44f7-4d8b-ba62-822de294452f.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_fced8ffb-d65a-463a-b226-f957ba9c88a8.pkl
chromadb_hustlergpt_openai_dr/index/id_to_uuid_fe878801-a3d1-48c7-a8ea-5662078aa95f.pkl
chromadb_hustlergpt_openai_dr/index/index_00bf7a47-e663-433f-8c68-329a9c9f5945.bin
chromadb_hustlergpt_openai_dr/index/index_0f3c2c9c-1984-4a46-a349-e44bbd3839ba.bin
chromadb_hustlergpt_openai_dr/index/index_1e38e148-014d-4954-bc9a-4a91cfbb31e8.bin
chromadb_hustlergpt_openai_dr/index/index_2219a1e5-803b-4f73-8f64-5b76b9437c8c.bin
chromadb_hustlergpt_openai_dr/index/index_2234ae21-a3ba-461b-9d4c-0981ebffe8b9.bin
chromadb_hustlergpt_openai_dr/index/index_23a7c9bf-2f84-4bea-aa5c-73ceb3d8e259.bin
chromadb_hustlergpt_openai_dr/index/index_3ad46cc3-2766-410c-b612-09e2987aa05a.bin
chromadb_hustlergpt_openai_dr/index/index_3d8ca961-e655-422a-89bc-20b6e6219c82.bin
chromadb_hustlergpt_openai_dr/index/index_4c4191db-7604-461d-b3a4-28549ee448d9.bin
chromadb_hustlergpt_openai_dr/index/index_53b4a55e-bec5-4350-a044-d402e41e6180.bin
chromadb_hustlergpt_openai_dr/index/index_57127af6-0d78-4214-97fa-02f1665e4024.bin
chromadb_hustlergpt_openai_dr/index/index_616cae8b-cea8-439c-ad5d-7914f8376e17.bin
chromadb_hustlergpt_openai_dr/index/index_620ed7ce-be76-446e-8326-e916306436f3.bin
chromadb_hustlergpt_openai_dr/index/index_67e59183-a53d-4306-885b-ba2a05a60a99.bin
chromadb_hustlergpt_openai_dr/index/index_6ee501ec-9386-4bf8-b243-aec8b1a4610f.bin
chromadb_hustlergpt_openai_dr/index/index_893db68a-852c-4a1f-84ea-34380264ffb7.bin
chromadb_hustlergpt_openai_dr/index/index_8c953230-4277-47cf-a6f1-1052201aea63.bin
chromadb_hustlergpt_openai_dr/index/index_9fc8cebf-6458-4d63-88c4-2020ec6e01c3.bin
chromadb_hustlergpt_openai_dr/index/index_a6e573fc-78eb-4840-8333-2b50bf98613d.bin
chromadb_hustlergpt_openai_dr/index/index_aae6eed5-b013-48c5-a30e-8ee3552dfa55.bin
chromadb_hustlergpt_openai_dr/index/index_ac1e910a-29dd-4946-a86d-5906e89a5b20.bin
chromadb_hustlergpt_openai_dr/index/index_af93adb5-994e-4c95-a89d-f540e1547447.bin
chromadb_hustlergpt_openai_dr/index/index_b6a7c831-0b1e-4a76-8966-a43ac43c3da0.bin
chromadb_hustlergpt_openai_dr/index/index_b8043179-3fb8-47d8-8861-1aeec7973f65.bin
chromadb_hustlergpt_openai_dr/index/index_b95373df-6514-4515-b9f3-72cc4820b591.bin
chromadb_hustlergpt_openai_dr/index/index_bf79e0ff-2d0f-4519-8c28-ef3af7339c46.bin
chromadb_hustlergpt_openai_dr/index/index_c111bcd3-59e8-4f33-abb0-ba7ab229b4e4.bin
chromadb_hustlergpt_openai_dr/index/index_c9bf9038-f368-4bef-8b04-8d4ee95b2b12.bin
chromadb_hustlergpt_openai_dr/index/index_cd8fee6c-ff15-4e30-84cd-98c0ce84b469.bin
chromadb_hustlergpt_openai_dr/index/index_d44d3b07-bba6-4c87-ad11-ab5e5094c96b.bin
chromadb_hustlergpt_openai_dr/index/index_da49c886-44f7-4d8b-ba62-822de294452f.bin
chromadb_hustlergpt_openai_dr/index/index_fced8ffb-d65a-463a-b226-f957ba9c88a8.bin
chromadb_hustlergpt_openai_dr/index/index_fe878801-a3d1-48c7-a8ea-5662078aa95f.bin
chromadb_hustlergpt_openai_dr/index/index_metadata_00bf7a47-e663-433f-8c68-329a9c9f5945.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_0f3c2c9c-1984-4a46-a349-e44bbd3839ba.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_1e38e148-014d-4954-bc9a-4a91cfbb31e8.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_2219a1e5-803b-4f73-8f64-5b76b9437c8c.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_2234ae21-a3ba-461b-9d4c-0981ebffe8b9.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_23a7c9bf-2f84-4bea-aa5c-73ceb3d8e259.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_3ad46cc3-2766-410c-b612-09e2987aa05a.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_3d8ca961-e655-422a-89bc-20b6e6219c82.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_4c4191db-7604-461d-b3a4-28549ee448d9.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_53b4a55e-bec5-4350-a044-d402e41e6180.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_57127af6-0d78-4214-97fa-02f1665e4024.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_616cae8b-cea8-439c-ad5d-7914f8376e17.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_620ed7ce-be76-446e-8326-e916306436f3.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_67e59183-a53d-4306-885b-ba2a05a60a99.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_6ee501ec-9386-4bf8-b243-aec8b1a4610f.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_893db68a-852c-4a1f-84ea-34380264ffb7.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_8c953230-4277-47cf-a6f1-1052201aea63.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_9fc8cebf-6458-4d63-88c4-2020ec6e01c3.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_a6e573fc-78eb-4840-8333-2b50bf98613d.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_aae6eed5-b013-48c5-a30e-8ee3552dfa55.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_ac1e910a-29dd-4946-a86d-5906e89a5b20.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_af93adb5-994e-4c95-a89d-f540e1547447.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_b6a7c831-0b1e-4a76-8966-a43ac43c3da0.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_b8043179-3fb8-47d8-8861-1aeec7973f65.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_b95373df-6514-4515-b9f3-72cc4820b591.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_bf79e0ff-2d0f-4519-8c28-ef3af7339c46.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_c111bcd3-59e8-4f33-abb0-ba7ab229b4e4.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_c9bf9038-f368-4bef-8b04-8d4ee95b2b12.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_cd8fee6c-ff15-4e30-84cd-98c0ce84b469.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_d44d3b07-bba6-4c87-ad11-ab5e5094c96b.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_da49c886-44f7-4d8b-ba62-822de294452f.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_fced8ffb-d65a-463a-b226-f957ba9c88a8.pkl
chromadb_hustlergpt_openai_dr/index/index_metadata_fe878801-a3d1-48c7-a8ea-5662078aa95f.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_00bf7a47-e663-433f-8c68-329a9c9f5945.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_0f3c2c9c-1984-4a46-a349-e44bbd3839ba.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_1e38e148-014d-4954-bc9a-4a91cfbb31e8.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_2219a1e5-803b-4f73-8f64-5b76b9437c8c.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_2234ae21-a3ba-461b-9d4c-0981ebffe8b9.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_23a7c9bf-2f84-4bea-aa5c-73ceb3d8e259.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_3ad46cc3-2766-410c-b612-09e2987aa05a.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_3d8ca961-e655-422a-89bc-20b6e6219c82.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_4c4191db-7604-461d-b3a4-28549ee448d9.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_53b4a55e-bec5-4350-a044-d402e41e6180.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_57127af6-0d78-4214-97fa-02f1665e4024.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_616cae8b-cea8-439c-ad5d-7914f8376e17.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_620ed7ce-be76-446e-8326-e916306436f3.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_67e59183-a53d-4306-885b-ba2a05a60a99.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_6ee501ec-9386-4bf8-b243-aec8b1a4610f.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_893db68a-852c-4a1f-84ea-34380264ffb7.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_8c953230-4277-47cf-a6f1-1052201aea63.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_9fc8cebf-6458-4d63-88c4-2020ec6e01c3.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_a6e573fc-78eb-4840-8333-2b50bf98613d.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_aae6eed5-b013-48c5-a30e-8ee3552dfa55.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_ac1e910a-29dd-4946-a86d-5906e89a5b20.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_af93adb5-994e-4c95-a89d-f540e1547447.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_b6a7c831-0b1e-4a76-8966-a43ac43c3da0.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_b8043179-3fb8-47d8-8861-1aeec7973f65.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_b95373df-6514-4515-b9f3-72cc4820b591.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_bf79e0ff-2d0f-4519-8c28-ef3af7339c46.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_c111bcd3-59e8-4f33-abb0-ba7ab229b4e4.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_c9bf9038-f368-4bef-8b04-8d4ee95b2b12.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_cd8fee6c-ff15-4e30-84cd-98c0ce84b469.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_d44d3b07-bba6-4c87-ad11-ab5e5094c96b.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_da49c886-44f7-4d8b-ba62-822de294452f.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_fced8ffb-d65a-463a-b226-f957ba9c88a8.pkl
chromadb_hustlergpt_openai_dr/index/uuid_to_id_fe878801-a3d1-48c7-a8ea-5662078aa95f.pkl
dev/.ipynb_checkpoints/tweetscraping-checkpoint.ipynb
